<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>background_color</key>
	<string>rawBackgroundColor</string>
	<key>description</key>
	<string>textDescription</string>
	<key>dialog_image_url</key>
	<string>dialogImageUrl</string>
	<key>featured_imageUrl</key>
	<string>featuredImageUrl</string>
	<key>id</key>
	<string>uniqueIdentifier</string>
	<key>more_info_url</key>
	<string>moreInfoUrl</string>
	<key>title</key>
	<string>title</string>
	<key>type</key>
	<string>rawType</string>
</dict>
</plist>
