<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pa_audio_option</key>
	<string>pa_audio_option</string>
	<key>server_serial</key>
	<string>server_serial</string>
	<key>server_name</key>
	<string>server_name</string>
</dict>
</plist>
