<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   API_V3_ProfileContentsMapping.plist
   AudioEverywhereSDK

   Created by Elena Delgado on 14/2/22.
   Copyright (c) 2022 ExXothermic. All rights reserved.
-->
<plist version="1.0">
<dict/>
</plist>
