<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>isPA</key>
	<string>isPA</string>
	<key>backgroundColor</key>
	<string>rawBackgroundColor</string>
	<key>subtitle</key>
	<string>subtitle</string>
	<key>description</key>
	<string>detail</string>
	<key>number</key>
	<string>exxtractorUniqueIdentifier</string>
	<key>title</key>
	<string>title</string>
	<key>ipAddress</key>
	<string>ipAddress</string>
	<key>imageUrl</key>
	<string>smallImageUrl</string>
	<key>tag</key>
	<string>tag</string>
	<key>playingImageUrl</key>
	<string>largeImageUrl</string>
	<key>apiVersion</key>
	<string>apiVersion</string>
	<key>gain</key>
	<string>gain</string>
	<key>isPrivate</key>
	<string>isPrivate</string>
	<key>passphrase</key>
	<string>passphrase</string>
	<key>port</key>
	<string>port</string>
</dict>
</plist>
