<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alt_beacon</key>
	<string>alt_beacon</string>
	<key>automation</key>
	<string>automation</string>
	<key>broadcast_LED</key>
	<string>broadcast_LED</string>
	<key>bt_address</key>
	<string>bt_address</string>
	<key>db_guid</key>
	<string>db_guid</string>
	<key>eddy_beacon</key>
	<string>eddy_beacon</string>
	<key>enable_bt_config</key>
	<string>enable_bt_config</string>
	<key>fw_version</key>
	<string>fw_version</string>
	<key>i_beacon</key>
	<string>i_beacon</string>
	<key>ir_beacon</key>
	<string>ir_beacon</string>
	<key>low_batt_LED</key>
	<string>low_batt_LED</string>
	<key>mfg_UUID</key>
	<string>mfg_UUID</string>
	<key>mfg_name</key>
	<string>mfg_name</string>
	<key>model_name</key>
	<string>model_name</string>
	<key>name</key>
	<string>name</string>
	<key>pair_pin</key>
	<string>pair_pin</string>
	<key>pic_fw_version</key>
	<string>pic_fw_version</string>
	<key>serial</key>
	<string>serial</string>
	<key>tag</key>
	<string>tag</string>
	<key>trigger_id</key>
	<string>trigger_id</string>
	<key>xmit_interval</key>
	<string>xmit_interval</string>
	<key>xmit_power</key>
	<string>xmit_power</string>
</dict>
</plist>
