<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>text_language</key>
	<string>text_language</string>
	<key>audio_language</key>
	<string>audio_language</string>
</dict>
</plist>
