<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>exxtractorUniqueIdentifier</key>
	<string>exxtractorUniqueIdentifier</string>
	<key>appStoreUrl</key>
	<string>appStoreUrl</string>
	<key>vendorUniqueIdentifier</key>
	<string>partnerUniqueIdentifier</string>
	<key>backgroundUrl</key>
	<string>featuredContentImageUrl</string>
	<key>id</key>
	<string>uniqueIdentifier</string>
	<key>logoUrl</key>
	<string>logoImageUrl</string>
	<key>name</key>
	<string>name</string>
	<key>dialogImageUrl</key>
	<string>detailContentImageUrl</string>
	<key>exxtractorVersion</key>
	<string>exxtractorVersion</string>
</dict>
</plist>
