<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>master_server</key>
	<string>master_server</string>
	<key>master_channel</key>
	<string>master_channel</string>
</dict>
</plist>
