<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>myAppIpAddress</key>
	<string>session</string>
	<key>channelNum</key>
	<string>channelExxtractorUniqueIdentifier</string>
	<key>myAppUdpPort</key>
	<string>udpPort</string>
	<key>passphrase</key>
	<string>passphrase</string>
	<key>token</key>
	<string>token</string>
</dict>
</plist>
