<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>token</key>
	<string>token</string>
	<key>name</key>
	<string>user.username</string>
	<key>level</key>
	<string>user.level</string>
</dict>
</plist>
