<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   API_V3_ProfileAssetsMappingRelationships.plist
   AudioEverywhereSDK

   Created by Elena Delgado on 7/12/22.
   Copyright (c) 2022 ExXothermic. All rights reserved.
-->
<plist version="1.0">
<dict>
   <key>theme</key>
   <string>theme</string>
   <key>welcome_ad</key>
   <string>welcome_ad</string>
   <key>documents</key>
   <string>documents</string>
   <key>banners</key>
   <string>banners</string>
   <key>offers</key>
   <string>offers</string>
</dict>
</plist>

