<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>description</key>
	<string>detail</string>
	<key>name</key>
	<string>name</string>
	<key>is_pa</key>
	<string>isPa</string>
	<key>channel_id</key>
	<string>number</string>
	<key>image_url</key>
	<string>smallImageUrl</string>
	<key>large_image_url</key>
	<string>largeImageUrl</string>
	<key>gain</key>
	<string>gain</string>
	<key>passphrase_required</key>
	<string>isPrivate</string>
	<key>passphrase</key>
	<string>passphrase</string>
	<key>port</key>
	<string>port</string>
	<key>ip_address</key>
	<string>ipAddress</string>
	<key>channel_color</key>
	<string>backgroundColor</string>
	<key>is_available</key>
	<string>isAvailable</string>
	<key>api_version</key>
	<string>apiVersion</string>
</dict>
</plist>
