<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>profile_leid</key>
	<string>profile_leid</string>
	<key>profile_name</key>
	<string>profile_name</string>
	<key>profile_version</key>
	<string>profile_version</string>
	<key>venue_name</key>
	<string>venue_name</string>
	<key>venue_leid</key>
	<string>venue_leid</string>
	<key>le_control_version</key>
	<string>le_control_version</string>
</dict>
</plist>
