<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>primary_color</key>
	<string>primaryColor</string>
	<key>secondary_color</key>
	<string>secondaryColor</string>
	<key>channel_info_enabled</key>
	<string>channel_info_enabled</string>
	<key>theme_title</key>
	<string>title</string>
</dict>
</plist>
