<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>socialID</key>
	<string>socialID</string>
	<key>socialToken</key>
	<string>socialToken</string>
	<key>socialKey</key>
	<string>socialKey</string>
	<key>deviceId</key>
	<string>deviceId</string>
	<key>socialType</key>
	<string>socialType</string>
</dict>
</plist>
