<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>servers</key>
	<string>servers</string>
	<key>gps</key>
	<string>gps</string>
	<key>timers</key>
	<string>timers</string>
</dict>
</plist>
